/docker
docker-image.sh
docker-container.sh
*.zip

/elasticsearch/data/**
!/elasticsearch/data

/elasticsearch/logs/**
!/elasticsearch/logs

/mysql/data/**
!/mysql/data

/mysql/logs/**
!/mysql/logs

/nginx/etc/conf.d/**
!/nginx/etc/conf.d/example.conf.bak

/nginx/logs/**
!/nginx/logs

/nginx/www/**
!/nginx/www/example

/redis/data/**
!/redis/data